<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Whisper&display=swap" rel="stylesheet" />

    <!--  Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />

    <title>Common</title>
</head>
<body style="background-image: url('ripples.png')">
    <nav class="navbar">
        <div class="navbar-logo">Wonderful <span>Indonesia</span></div>
        <div class="navbar-nav"><a asp-area="" asp-controller="Home" asp-action="Index">ホーム</a><a asp-area="" asp-controller="Home" asp-action="Trip">観光地</a><a asp-area="" asp-controller="Home" asp-action="Culture">文化</a><a asp-area="" asp-controller="Home" asp-action="Common">インドネシアについて</a><a href="">ヘルプ</a></div>
        <!-- <div class="day-night"></div> -->
        <div class="nav-search">
            <i class="bi bi-search"></i>
            <i class="bi bi-brightness-high"></i>
            <i class="bi bi-moon-stars-fill"></i>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Carousel Start -->
    <div class="carousel-container" style="background-image: url('/img/img-3/thumbs/banner.jpeg')"></div>
    <!-- Carousel End -->
    <!-- Navigation -->
    <div class="navigation">
        <a href="#content1">1</a>
        <a href="#content2">2</a>
        <a href="#content3">3</a>
        <a href="#content4">4</a>
        <a href="#content5">5</a>
        <a href="#content6">6</a>
        <a href="#content7">7</a>
        <a href="#content8">8</a>
        <a href="#content9">9</a>
        <a href="#content10">10</a>
    </div>

    <!-- Main Content Section Start -->
    <section class="main-container-2">
        <div class="card-container-1" id="content1">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-3/thumbs/bahasa1.jpeg" class="jumbo1" />
                </div>
                <div class="thumbs">
                    <img class="thumb1" src="/img/img-3/thumbs/bahasa1.jpeg" alt="" />
                    <img class="thumb1" src="/img/img-3/thumbs/bahasa2.jpeg" alt="" />
                    <img class="thumb1" src="/img/img-3/thumbs/bahasa3.jpeg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>言語</h1>
                <h4>インドネシア語について :</h4>
                <ol>
                    <li>公用語</li>
                    <p>インドネシア語は、インドネシア共和国の公用語であり、さまざまな分野で使用されています。政府、教育、マスメディア、日常のコミュニケーションなどで使用されています。</p>
                    <li>広範な使用</li>
                    <p>インドネシア語は公用語である一方で、インドネシアには数百もの地方言語が存在します。しかし、インドネシア語は、異なる民族や文化を統合するコミュニケーションの手段として機能しています。</p>
                    <li>外来語の影響</li>
                    <p>インドネシア語は、オランダ語、アラビア語、ポルトガル語、サンスクリット語など、さまざまな外国語の影響を受けています。これは、語彙や言語構造に反映されています。</p>
                    <li>シンプルな綴り:</li>
                    <p>インドネシア語の綴りは比較的シンプルで一貫しています。これは、外国人や言語を学び始める子供にとっても学習しやすい特徴です。</p>
                    <li>表現の豊かさ</li>
                    <p>インドネシア語には豊富な表現や慣用句があり、これはインドネシアの多様な文化や伝統を反映しています。それゆえ、インドネシア語は探求する価値のある美しくユニークな言語となっています。</p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content2">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-3/thumbs/agama1.jpeg" class="jumbo2" />
                </div>
                <div class="thumbs">
                    <img class="thumb2" src="/img/img-3/thumbs/agama1.jpeg" alt="" />
                    <img class="thumb2" src="/img/img-3/thumbs/agama2.jpg" alt="" />
                    <img class="thumb2" src="/img/img-3/thumbs/agama3.jpeg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>宗教</h1>
                <h4>インドネシアにある宗教について :</h4>
                <ol>
                    <li>宗教の多様性</li>
                    <p>インドネシアには、イスラム教、キリスト教、ヒンドゥー教、仏教、そして伝統的な宗教など、さまざまな宗教が共存しています。この多様性は、国内の異なる地域や文化の間で見られます。</p>
                    <li>イスラム教徒の割合</li>
                    <p>インドネシアはイスラム教徒が最も多い国の一つであり、人口の大部分がイスラム教徒です。イスラム教は、インドネシアの文化や社会に大きな影響を与えています。</p>
                    <li>ヒンドゥー教の聖地</li>
                    <p>インドネシアにはヒンドゥー教の聖地があり、バリ島のウブドやジャワ島のプランバナン寺院などが有名です。これらの場所は、ヒンドゥー教徒や観光客にとって聖なる場所として重要な存在です。</p>
                    <li>宗教の祭りと行事</li>
                    <p>インドネシアの宗教は、独自の祭りや儀式を持っています。たとえば、イスラム教のラマダンやキリスト教のクリスマスなど、さまざまな宗教行事が国内で祝われています。</p>
                    <li>宗教の寛容性</li>
                    <p>インドネシアは宗教的に寛容な国として知られており、異なる宗教間での対話や協力が推進されています。これは、多様な宗教共同体が平和に共存し、相互理解を深めていることを示しています。</p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content3">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-3/thumbs/waktu1.jpg" class="jumbo3" />
                </div>
                <div class="thumbs">
                    <img class="thumb3" src="/img/img-3/thumbs/waktu1.jpg" alt="" />
                    <img class="thumb3" src="/img/img-3/thumbs/waktu2.jpeg" alt="" />
                    <img class="thumb3" src="/img/img-3/thumbs/waktu3.jpeg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>時差</h1>
                <h4>時差について :</h4>
                <ol>
                    <li>タイムゾーンの差</li>
                    <p>インドネシアと日本はそれぞれ異なるタイムゾーンに位置しています。インドネシアは東経95度を基準として、3つの主要なタイムゾーンに分かれています。日本はUTC+9の単一のタイムゾーンです。</p>
                    <li>夏時間の有無</li>
                    <p>インドネシアと日本は、いずれも夏時間を導入していません。したがって、一年を通じて時間が一定です。</p>
                    <li>ビジネスやコミュニケーションへの影響</li>
                    <p>インドネシアと日本の時間の違いは、ビジネスやコミュニケーションに影響を与えることがあります。例えば、インドネシアと日本の間で会議を開く場合、両国の時間を考慮して計画する必要があります。</p>
                    <li>旅行や観光計画への影響</li>
                    <p>インドネシアと日本の時間の違いは、旅行や観光計画にも影響を与える可能性があります。予定された出発や到着の時間、イベントの開始時間などを調整する必要があります。</p>
                    <li>文化的な違い</li>
                    <p>
                        インドネシアと日本の時間の違いは、文化的な違いにも関連しています。たとえば、時間に対する考え方や時間の使い方は、両国で異なる場合があります。日本では時間厳守が重視される一方で、インドネシアでは柔軟性が重視されることがあります。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content4">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-3/thumbs/perjalanan1.jpeg" class="jumbo4" />
                </div>
                <div class="thumbs">
                    <img class="thumb4" src="/img/img-3/thumbs/perjalanan1.jpeg" alt="" />
                    <img class="thumb4" src="/img/img-3/thumbs/perjalanan2.jpeg" alt="" />
                    <img class="thumb4" src="/img/img-3/thumbs/perjalanan3.jpeg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>旅行観光</h1>
                <h4>インドネシアの観光旅行について :</h4>
                <ol>
                    <li>自然の美しさ</li>
                    <p>インドネシアには、美しいビーチ、熱帯雨林、活火山、そして豊かな海洋生物があります。バリ島やジャワ島、スマトラ島など、数多くの島々が見どころです。</p>
                    <li>文化的な多様性</li>
                    <p>インドネシアは、多様な民族や文化が共存する国です。それぞれの地域に独自の伝統や文化があり、それを体験できるのも魅力の一つです。</p>
                    <li>人々の親しみやすさ</li>
                    <p>インドネシアの人々は親しみやすく、歓迎してくれることで知られています。地元の人々との交流は、旅行の醍醐味の一つです。</p>
                    <li>料理の多様性</li>
                    <p>インドネシア料理は多彩で美味しいです。スパイシーなインドネシア料理から、ジャワ料理やスンダ料理、バリ料理など、様々な地域の料理を楽しむことができます。</p>
                    <li>適切な旅行時期</li>
                    <p>インドネシアの気候は熱帯性気候であり、一年を通して比較的暖かく湿度も高いです。しかし、乾季（5月から10月）が旅行するのに最適な時期です。特にバリやジャワ島などの観光地はこの時期が人気です。</p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content5">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-3/thumbs/budaya1.jpeg" class="jumbo5" />
                </div>
                <div class="thumbs">
                    <img class="thumb5" src="/img/img-3/thumbs/budaya1.jpeg" alt="" />
                    <img class="thumb5" src="/img/img-3/thumbs/budaya2.jpeg" alt="" />
                    <img class="thumb5" src="/img/img-3/thumbs/budaya3.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>文化</h1>
                <h4>インドネシアにある文化について :</h4>
                <ol>
                    <li>多様性</li>
                    <p>インドネシアは多様な民族、宗教、言語、文化が共存する国です。ジャワ、スマトラ、バリ、スンダなど、各地域に独自の文化が根付いています。</p>
                    <li>宗教と信仰</li>
                    <p>インドネシアはイスラム教が最も広く信仰されていますが、キリスト教、ヒンドゥー教、仏教、伝統的な宗教も存在します。それぞれの宗教や信仰は、国の文化や風景に影響を与えています。</p>
                    <li>芸術と伝統</li>
                    <p>インドネシアは豊かな芸術と伝統を持っています。ウェヤン・クリダやランケシなどの伝統的な舞踊、ガムラン音楽、バティック染め、ウェヤン・ウィヤンなどの伝統的なパペット劇は、国内外で高く評価されています。</p>
                    <li>祭りと行事</li>
                    <p>インドネシアには多くの祭りや行事があります。例えば、ラマダンの月、クリスマス、ニューイヤー、ヴェサクなどの宗教的な祭りや、インドネシア独自の祭りであるカルナヴァル、ガラン、カタパンなどがあります。</p>
                    <li>料理と食文化</li>
                    <p>
                        インドネシア料理は多彩で美味しいです。ライスやヌードルをベースにした料理、スパイシーなカリ、スープ、サラダ、デザートなど、さまざまな料理があります。また、インドネシアの食文化は、家族や友人との共同食事や伝統的な儀式にも反映されています。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content6">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-3/thumbs/peta1.jpeg" class="jumbo6" />
                </div>
                <div class="thumbs">
                    <img class="thumb6" src="/img/img-3/thumbs/peta1.jpeg" alt="" />
                    <img class="thumb6" src="/img/img-3/thumbs/peta2.jpeg" alt="" />
                    <img class="thumb6" src="/img/img-3/thumbs/peta3.jpeg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>地図</h1>
                <h4>インドネシアの地図について :</h4>
                <ol>
                    <li>島国であること</li>
                    <p>インドネシアは、17,000以上の島々から成る世界最大の島国です。その中でも、ジャワ島、スマトラ島、カリマンタン島、スラウェシ島、パプア島などの大きな島があります。</p>
                    <li>環太平洋火山帯に位置すること</li>
                    <p>インドネシアは環太平洋火山帯に位置し、活火山や地震が頻繁に発生する地域です。これは、インドネシアの地質的特徴の一つであり、自然災害のリスクを持つことになります。</p>
                    <li>赤道を横断していること</li>
                    <p>インドネシアは赤道を横断する広大な範囲に広がっており、赤道直下の地域も含まれます。このため、インドネシアは熱帯性気候が広く分布しており、一年を通じて高温多湿の気候が特徴です。</p>
                    <li>豊かな自然と生態系</li>
                    <p>インドネシアには、熱帯雨林、サバンナ、マングローブ、サンゴ礁など、多様な自然環境が存在します。この多様な生態系は、世界的にも有名であり、多くの希少な動植物の生息地として知られています。</p>
                    <li>海洋国であること</li>
                    <p>インドネシアは海に囲まれた国であり、インド洋、太平洋、そしてスラウェシ海、バンダ海、ジャワ海、ティモール海など、多くの海域があります。これにより、漁業や観光などの海洋関連の産業が重要な役割を果たしています。</p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content7">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-3/musim.jpg" class="jumbo7" />
                </div>
                <div class="thumbs">
                    <img class="thumb7" src="/img/img-3/musim.jpg" alt="" />
                    <img class="thumb7" src="/img/img-3/thumbs/musim1.jpeg" alt="" />
                    <img class="thumb7" src="/img/img-3/thumbs/musim2.jpeg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>季節</h1>
                <h4>インドネシアの季節について :</h4>
                <ol>
                    <li>熱帯雨林気候</li>
                    <p>インドネシアは熱帯地域に位置しており、一年を通じて高温多湿の気候が続きます。雨季と乾季に大別されますが、熱帯雨林気候のため雨量が多いのが特徴です。</p>
                    <li>雨季</li>
                    <p>一般的に、雨季は11月から3月にかけての期間に訪れます。この期間には局地的な豪雨や洪水が発生することがありますが、緑豊かな景色が見られるため、観光客にとっても魅力的な時期です。</p>
                    <li>乾季</li>
                    <p>乾季は4月から10月にかけての期間であり、雨量が少なく天候が安定しています。特に観光地では晴天が続き、ビーチやアウトドア活動に適した時期となります。</p>
                    <li>エルニーニョ現象</li>
                    <p>インドネシアの気候はエルニーニョ現象の影響を受けることがあります。エルニーニョが発生すると、乾燥した気候や森林火災が増加し、農業や生態系に影響を与えることがあります。</p>
                    <li>季節の変化の地域差</li>
                    <p>インドネシアの地域によって季節の変化が異なります。例えば、ジャワ島やスマトラ島などの西部地域では雨季と乾季がはっきりと区別されますが、東部地域や山岳地帯では雨季が短く乾季が長いことがあります。</p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content8">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-3/rendang.jpg" class="jumbo8" />
                </div>
                <div class="thumbs">
                    <img class="thumb8" src="/img/img-3/rendang.jpg" alt="" />
                    <img class="thumb8" src="/img/img-3/thumbs/makanan1.jpeg" alt="" />
                    <img class="thumb8" src="/img/img-3/thumbs/makanan2.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>料理</h1>
                <h4>インドネシアにある料理について :</h4>
                <ol>
                    <li>多様性</li>
                    <p>インドネシア料理は多様であり、地域や民族によって異なる特色があります。ジャワ料理、スンダ料理、バリ料理、マレー料理など、さまざまな地域の料理があります。</p>
                    <li>スパイスと香辛料</li>
                    <p>インドネシア料理はスパイスや香辛料を豊富に使うことが特徴です。クローブ、シナモン、レモングラス、ターメリックなどがよく使われ、独特の風味を生み出します。</p>
                    <li>ライスベース</li>
                    <p>インドネシア料理の多くはライスを主食としており、ナシ・ゴレンやナシ・ウドゥク、ナシ・クナユなどのライス料理が人気です。また、ヌードルやパンも一般的に食べられています。</p>
                    <li>人気の料理</li>
                    <p>インドネシア料理の中でも特に人気のある料理には、ナシ・ゴレン（炒飯）、ミーゴレン（炒め麺）、サテ（串焼き）、ルンダン（牛の軟骨煮込み）、ルンカル（スパイシーな肉料理）などがあります。</p>
                    <li>デザートとスイーツ</li>
                    <p>インドネシアのデザートやスイーツも豊富で美味しいです。クレープ、パンケーキ、フルーツ、ジャージャン（黒糖漬け）、エス・テロ（椰子のジュース）などが人気のある甘味です。</p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content9">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-3/uang.jpg" class="jumbo9" />
                </div>
                <div class="thumbs">
                    <img class="thumb9" src="/img/img-3/uang.jpg" alt="" />
                    <img class="thumb9" src="/img/img-3/thumbs/uang1.jpeg" alt="" />
                    <img class="thumb9" src="/img/img-3/thumbs/uang2.jpeg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>通貨</h1>
                <h4>インドネシアの通貨について :</h4>
                <ol>
                    <li>ルピア</li>
                    <p>インドネシアの通貨単位はルピア（Rp）です。ルピアは100セン（sen）に分かれており、硬貨としては1000ルピア、500ルピア、100ルピア、50ルピア、25ルピア、10ルピア、5ルピア、1ルピアの硬貨が流通しています。</p>
                    <li>紙幣</li>
                    <p>ルピアの紙幣には、100,000ルピア、50,000ルピア、20,000ルピア、10,000ルピア、5,000ルピア、2,000ルピア、1,000ルピアの紙幣があります。これらの紙幣は、それぞれ異なる色やデザインを持っています。</p>
                    <li>外貨両替</li>
                    <p>インドネシアでは、外貨をルピアに両替することが一般的です。空港や銀行、両替所、ホテルなどで外貨両替が可能です。主要な外貨としては、米ドルやユーロ、日本円がよく使われます。</p>
                    <li>電子決済</li>
                    <p>インドネシアでは、電子決済やデジタルウォレットの利用が急速に普及しています。特に、ゴプェイ（GoPay）、オボ (OVO)、ディナーロ（DANA）などの電子決済アプリが人気です。</p>
                    <li>物価水準</li>
                    <p>インドネシアの物価水準は一般的に低く、外国人にとっては比較的安い国として知られています。ただし、観光地や都市部では物価が上昇することがありますので、注意が必要です。</p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content10">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-3/thumbs/sejarah3.jpeg" class="jumbo10" />
                </div>
                <div class="thumbs">
                    <img class="thumb10" src="/img/img-3/thumbs/sejarah3.jpeg" alt="" />
                    <img class="thumb10" src="/img/img-3/thumbs/sejarah1.jpeg" alt="" />
                    <img class="thumb10" src="/img/img-3/thumbs/sejarah2.jpeg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>歴史</h1>
                <h4>インドネシアの歴史について :</h4>
                <ol>
                    <li>古代王国の成立</li>
                    <p>インドネシアには、古代から王国や帝国が栄えました。その中でも特に有名なのは、マジャパヒト王国やスリウァヤヤ王国などです。これらの王国は、東南アジアにおける交易や文化の中心地として繁栄しました。</p>
                    <li>オランダ植民地支配</li>
                    <p>インドネシアは長い間、オランダの植民地支配下にありました。オランダ東インド会社がインドネシアの交易を支配し、後に植民地支配が拡大しました。植民地支配は多くの抵抗や反乱を引き起こしました。</p>
                    <li>独立運動と独立宣言</li>
                    <p>第二次世界大戦後、インドネシアは独立運動が盛んになりました。1945年8月17日、スカルノとハッタがジャカルタで独立宣言を行い、インドネシア共和国が成立しました。しかし、オランダはこれを認めず、紛争が続きました。</p>
                    <li>インドネシア共和国の成立</li>
                    <p>インドネシアは1949年にオランダから正式に独立を宣言し、インドネシア共和国が成立しました。これにより、長い植民地支配から解放されました。</p>
                    <li>現代の発展</li>
                    <p>インドネシアはその後も経済的、政治的な発展を続けています。国内には多くの民族や文化が共存し、多様性が豊かな国です。また、観光業や自然資源の開発など、さまざまな分野で成長が見られます。</p>
                </ol>
            </div>
        </div>
    </section>
    <!-- Main Content Section End -->
    <!-- Footer Start -->
    <footer>
        <div class="main">
            <div class="left">
                <div class="left-img"><span>Wonderful </span>Indonesia</div>
                <div class="socials">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-youtube"></i></a>
                    <a href=""><i class="bi bi-tiktok"></i></a>
                </div>
            </div>
            <div class="right">
                <div class="message">メールを送信ん</div>
                <div class="input">
                    <input type="text" placeholder="メッセージ" />
                </div>
                <i class="bi bi-send"></i>
                <div class="policy">
                    <a href="">クッキーポリシー | </a>
                    <a href="">プライバシーポリシー | </a>
                    <a href="">利用規約 | </a>
                    <a href="">お問い合わせ</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copy">Copyright © 2024 Created & Desained by Dicky Laksono.</div>
        </div>
    </footer>
    <!-- Footer Start -->
    <!-- Script -->
    <script src="/js/script.js"></script>
</body>
</html>

