<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Whisper&display=swap" rel="stylesheet" />

    <!--  Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />

    <title>Culture</title>
</head>
<body style="background-image: url('ripples.png')">
    <!-- Navbar Start -->
    <nav class="navbar">
        <div class="navbar-logo">Wonderful <span>Indonesia</span></div>
        <div class="navbar-nav"><a asp-area="" asp-controller="Home" asp-action="Index">ホーム</a><a asp-area="" asp-controller="Home" asp-action="Trip">観光地</a><a asp-area="" asp-controller="Home" asp-action="Culture">文化</a><a asp-area="" asp-controller="Home" asp-action="Common">インドネシアについて</a><a href="">ヘルプ</a></div>
        <!-- <div class="day-night"></div> -->
        <div class="nav-search">
            <i class="bi bi-search"></i>
            <i class="bi bi-brightness-high"></i>
            <i class="bi bi-moon-stars-fill"></i>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Carousel Start -->
    <div class="carousel-container" style="background-image: url('/img/img-2/thumbs/banner.jpeg')"></div>
    <!-- Carousel End -->
    <!-- Navigation -->
    <div class="navigation">
        <a href="#content1">1</a>
        <a href="#content2">2</a>
        <a href="#content3">3</a>
        <a href="#content4">4</a>
        <a href="#content5">5</a>
        <a href="#content6">6</a>
        <a href="#content7">7</a>
        <a href="#content8">8</a>
        <a href="#content9">9</a>
        <a href="#content10">10</a>
    </div>

    <!-- Main Content Section Start -->
    <section class="main-container-2">
        <div class="card-container-1" id="content1">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-2/tari_kecak.jpg" class="jumbo1" />
                </div>
                <div class="thumbs">
                    <img class="thumb1" src="/img/img-2/tari_kecak.jpg" alt="" />
                    <img class="thumb1" src="/img/img-2/thumbs/tari_kecak1.jpeg" alt="" />
                    <img class="thumb1" src="/img/img-2/thumbs/tari_kecak2.jpeg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>ケチャダンス (Tari Kecak)</h1>
                <h4>ケチャダンスについて :</h4>
                <ol>
                    <li>ケチャクとは何ですか？</li>
                    <p>「ケチャク」は、バリ島で演じられる伝統的な舞踊形式であり、ヒンドゥー教の叙事詩ラーマーヤナの一部を基にした物語を表現します。この舞踊は、合唱や身体のリズミカルな動き、そして特徴的な声のコーラスで知られています。</p>
                    <li>物語と神話の表現</li>
                    <p>
                        「ケチャク」のパフォーマンスは、主にラーマーヤナの一部である「キシュキンワナ・クンバカン（ラーマとシータを助けるために戦うワヌワーンの物語）」を基にしています。舞台では、ラーマ王子と彼の忠実な仲間ワヌワーンの冒険が描かれ、戦いや愛情、冒険などが生き生きと表現されます。
                    </p>
                    <li>独特の音楽と合唱</li>
                    <p>
                        ケチャクの最も特徴的な要素の1つは、コーラスによる声のパフォーマンスです。合唱団は、独特の「チャク・チャク・チャク」という音を反復的に口ずさみながら、物語の展開や感情の表現を支えます。この合唱は、物語の進行に合わせてリズミカルに変化し、パフォーマンスの魅力を高めます。
                    </p>
                    <li>身体のリズムと動き</li>
                    <p>
                        ケチャクのダンサーは、身体のリズムと動きを通じて物語を表現します。彼らは円形の舞台に座り、手の動きや体の動きを使って戦いや祝福、恐怖などを表現します。また、ダンサーたちは複雑な振り付けとタイミングを駆使して、物語の流れに合わせてパフォーマンスを展開します。
                    </p>
                    <li>文化的な継承と国際的な認知</li>
                    <p>
                        ケチャクは、バリ島の豊かな文化遺産の一部として重要視されています。この舞踊形式は、世代を超えて受け継がれ、地域のコミュニティや文化的な行事で広く演じられています。また、近年では国際的な舞台でもケチャクのパフォーマンスが注目され、バリ島の文化を世界に広める役割を果たしています。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content2">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-2/reogponorogo.jpg" class="jumbo2" />
                </div>
                <div class="thumbs">
                    <img class="thumb2" src="/img/img-2/reogponorogo.jpg" alt="" />
                    <img class="thumb2" src="/img/img-2/thumbs/reogponorogo.jpg" alt="" />
                    <img class="thumb2" src="/img/img-2/thumbs/reogponorogo2.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>レオグ・ポノロゴ (Reogponorogo)</h1>
                <h4>レオグ・ポノロゴについて :</h4>
                <ol>
                    <li>「レオグ・ポノロゴ」とは何ですか？</li>
                    <p>
                        「レオグ・ポノロゴ」は、インドネシアのジャワ島東部、ポノロゴ地方で発祥した伝統的な舞踊と演劇の形式です。この芸術形式は、大きなライオンの仮面やカラフルな衣装、生演奏の音楽、そしてダンサーや演者たちの驚くべき動きで知られています。
                    </p>
                    <li>ライオンの仮面と神秘的な要素</li>
                    <p>
                        「レオグ・ポノロゴ」の最も特徴的な要素の1つは、巨大なライオンの仮面です。この仮面は非常に大きく、通常は一人のダンサーが頭に装着して演技します。ライオンは古代のジャワの神話や伝説に登場し、神秘的な要素を持つ存在として崇拝されてきました。
                    </p>
                    <li>ダンスと演劇の融合</li>
                    <p>
                        「レオグ・ポノロゴ」は、ダンスと演劇が融合した舞台芸術です。ダンサーたちは、驚異的な身体能力と柔軟性を持ちながら、複雑な振付やアクロバティックな動きを披露します。一方、演劇要素では、物語や伝説が豊かな音楽と共に表現されます。
                    </p>
                    <li>文化的な象徴と祭り</li>
                    <p>
                        「レオグ・ポノロゴ」は、ジャワの文化的な象徴の一つとして重要視されています。地元の祭りや行事では、しばしば「レオグ・ポノロゴ」の演技が行われ、地域のコミュニティに喜びと興奮をもたらします。この芸術形式は、文化の祝祭と共に受け継がれてきました。
                    </p>
                    <li>国際的な注目と認知</li>
                    <p>近年、「レオグ・ポノロゴ」は国際的な舞台でも注目を集めています。その迫力あるパフォーマンスと独特の美しさは、世界中の観客に感動と魅了をもたらし、インドネシアの文化的遺産として広く認知されるようになっています。</p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content3">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-2/angklung.jpg" class="jumbo3" />
                </div>
                <div class="thumbs">
                    <img class="thumb3" src="/img/img-2/angklung.jpg" alt="" />
                    <img class="thumb3" src="/img/img-2/thumbs/angklung1.jpg" alt="" />
                    <img class="thumb3" src="/img/img-2/thumbs/angklung.jpeg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>アンクルン (Angklung)</h1>
                <h4>アンクルンについて :</h4>
                <ol>
                    <li>アングクルンとは何ですか？</li>
                    <p>
                        アングクルンは、インドネシアの西ジャワ州やバンテン州など、スンダ族の伝統的な楽器です。これは、竹で作られた管楽器の一種であり、特有の音色とリズムが特徴です。アングクルンは、特にインドネシアの伝統音楽や文化で重要な役割を果たしています。
                    </p>
                    <li>伝統と歴史</li>
                    <p>アングクルンは、インドネシアの豊かな文化遺産の一部であり、数世紀にわたる歴史を持っています。スンダ族の伝統的な音楽とダンスの一環として、アングクルンは祭りや行事などの様々なイベントで演奏されてきました。</p>
                    <li>竹製の楽器</li>
                    <p>アングクルンは、竹を使用して手作りされます。竹の管の長さと太さによって音高が異なり、異なる大きさのアングクルンが作られます。演奏する際に、演奏者はアングクルンを振って振動を生み出し、特有のリズムと旋律を奏でます。</p>
                    <li>教育と文化の重要性</li>
                    <p>
                        アングクルンは、インドネシアの教育機関や文化団体で広く普及しています。これは、若い世代に伝統的な音楽と文化を紹介し、継承するための重要な手段です。また、アングクルンは国際的にも認知され、世界中の音楽愛好家に愛されています。
                    </p>
                    <li>国際的な認知と愛好</li>
                    <p>
                        アングクルンは、その美しい音色と独特の魅力により、世界中で広く愛されています。国際的なイベントや音楽フェスティバルで演奏されることがあり、多くの人々に感動と喜びをもたらしています。アングクルンの演奏は、文化交流や国際理解を促進する重要な役割を果たしています。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content4">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-2/batik.jpg" class="jumbo4" />
                </div>
                <div class="thumbs">
                    <img class="thumb4" src="/img/img-2/batik.jpg" alt="" />
                    <img class="thumb4" src="/img/img-2/thumbs/batik1.jpeg" alt="" />
                    <img class="thumb4" src="/img/img-2/thumbs/batik2.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>バティック (Batik)</h1>
                <h4>バティックについて :</h4>
                <ol>
                    <li>バティックとは何ですか？</li>
                    <p>
                        バティックは、インドネシアやその周辺地域で伝統的に製造される独特の織物です。この技術は、布地にワックスを塗布し、その後染料で染色することによって行われます。結果として生じる特有の模様と色彩は、バティックの美しさと個性を形成します。
                    </p>
                    <li>豊かな文化遺産</li>
                    <p>バティックは、インドネシアの豊かな文化遺産の一部であり、数世紀にわたる歴史と伝統を持っています。これは、特定の地域や民族の伝統的な衣装や装飾品として、または日常的な衣料品として広く使用されてきました。</p>
                    <li>手作業での製造</li>
                    <p>バティックの製造は、熟練した職人によって手作業で行われます。ワックスを布地に手で塗布することで、希望するデザインや模様を作り出します。染料を使って布地を染色した後、ワックスは取り除かれ、独特の模様が浮かび上がります。</p>
                    <li>芸術的な表現</li>
                    <p>バティックは、その美しい模様やデザイン、繊細な色使いで、芸術的な表現の一形態として高く評価されています。さまざまな技法やスタイルが存在し、地域や文化によって異なる伝統や意匠が反映されています。</p>
                    <li>世界的な人気と認知度</li>
                    <p>
                        バティックは、その独特の美しさと品質によって世界中で広く愛されています。インドネシアだけでなく、多くの国でバティック製品が高い評価を受け、ファッションや装飾品として広く使用されています。さらに、バティックはユネスコの無形文化遺産に登録されており、その重要性が国際的に認められています。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content5">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-2/karapan_sapi.jpg" class="jumbo5" />
                </div>
                <div class="thumbs">
                    <img class="thumb5" src="/img/img-2/karapan_sapi.jpg" alt="" />
                    <img class="thumb5" src="/img/img-2/thumbs/karapan_sapi1.jpg" alt="" />
                    <img class="thumb5" src="/img/img-2/thumbs/karapan_sapi2.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>カラパン・サピ (Karapan Sapi)</h1>
                <h4>カラパン・サピについて :</h4>
                <ol>
                    <li>カラパン・サピとは何ですか？</li>
                    <p>
                        カラパン・サピは、インドネシアのマドゥラ島で行われる伝統的な牛の競争です。このスポーツは、伝統的なカラパン・サピ・フェスティバルの一環として、農耕や収穫の祝いに行われます。参加する牛は、特別に鍛えられて速さと持久力を向上させられます。
                    </p>
                    <li>牛によるレース</li>
                    <p>カラパン・サピでは、特別に装飾された牛が馬車を引いて速さを競います。牛車は伝統的なデザインで飾られ、競技場で行われるコースを走ります。牛車は速度を上げ、スペクタクルなレースを提供します。</p>
                    <li>伝統と文化の一部</li>
                    <p>カラパン・サピは、マドゥラ島の豊かな文化遺産の一部であり、数世紀にわたる歴史を持っています。このスポーツは、地域社会の結束を促進し、伝統的な農耕や牧畜の方法を称賛する場として機能しています。</p>
                    <li>競技会と祝祭</li>
                    <p>カラパン・サピの競技会は、地元の祭りや催し物の中で非常に人気があります。観客は、様々な牛車が熱い競争を繰り広げる様子を見ることができ、地元の音楽やダンスなどのエンターテイメントも楽しむことができます。</p>
                    <li>地元経済と観光の促進</li>
                    <p>
                        カラパン・サピは、地元の経済を活性化し、観光を促進する重要な役割を果たしています。多くの観光客がマドゥラ島を訪れ、カラパン・サピの競技会を見学するために集まります。これは地元の商業活動や観光業にとって重要な収入源となっています。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content6">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-2/keris.jpg" class="jumbo6" />
                </div>
                <div class="thumbs">
                    <img class="thumb6" src="/img/img-2/keris.jpg" alt="" />
                    <img class="thumb6" src="/img/img-2/thumbs/keris1.jpeg" alt="" />
                    <img class="thumb6" src="/img/img-2/thumbs/keris2.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>クリス (Keris)</h1>
                <h4>クリスについて :</h4>
                <ol>
                    <li>ケリスとは何ですか？</li>
                    <p>ケリスは、インドネシアやマレーシアなどのマレー文化圏で伝統的に使用されている特徴的な片刃の短剣です。ケリスは古くから儀式や日常生活で重要な役割を果たしており、その美しさや独特のデザインが特徴です。</p>
                    <li>独特のデザインと意匠</li>
                    <p>
                        ケリスは、その独特の曲線と彫刻が施された刀身で知られています。刃の形状や柄の装飾は、地域や製作者によって異なり、それぞれが独自の美しさを持っています。また、ケリスには多くの象徴的な意味が込められており、歴史や伝説と深く関連しています。
                    </p>
                    <li>文化的な象徴としての役割</li>
                    <p>
                        ケリスは、マレー文化の象徴として広く認識されています。これは、勇気や名誉、権威などの価値観を象徴し、特に武士や指導者にとって重要なシンボルとされています。ケリスは、儀式や祝祭、結婚式などの特別な機会で使用されることがあります。。
                    </p>
                    <li>製造技術と工芸品</li>
                    <p>
                        ケリスの製造技術は、古くから伝承されてきました。熟練した職人たちは、伝統的な方法でケリスを作り上げ、鍛造や彫刻などの技術を駆使して美しい作品を生み出します。これらのケリスは、芸術品やコレクションとしても高く評価されています。
                    </p>
                    <li>現代の価値と国際的な認知</li>
                    <p>ケリスは、その美しさと歴史的な意義により、現代でも高い価値があります。多くの人々がケリスを所有し、それを家族や社会の宝として大切にしています。また、ケリスは国際的なコレクターの間で人気があり、世界中で愛されています。</p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content7">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-2/pencak_silat.jpg" class="jumbo7" />
                </div>
                <div class="thumbs">
                    <img class="thumb7" src="/img/img-2/pencak_silat.jpg" alt="" />
                    <img class="thumb7" src="/img/img-2/thumbs/pencak_silat1.jpg" alt="" />
                    <img class="thumb7" src="/img/img-2/thumbs/pencak_silat2.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>プンチャック シラット (Pencak Silat)</h1>
                <h4>プンチャックについて :</h4>
                <ol>
                    <li>ペンチャック・シラットとは何ですか？</li>
                    <p>ペンチャック・シラットは、マレーシア、インドネシア、ブルネイ、シンガポールなどの東南アジア諸国で発展した伝統的なマーシャルアートです。この格闘技は、武道とダンスの要素を組み合わせ、実戦技術と芸術的な動きを備えています。</p>
                    <li>多様なスタイルと技術</li>
                    <p>
                        ペンチャック・シラットには、さまざまなスタイルや技術が存在します。これらのスタイルは、地域や歴史的な背景によって異なり、それぞれが独自の特徴や動きを持っています。例えば、シラット・マレー、シラット・ジャワ、シラット・マディウ・インドネシアなどがあります。
                    </p>
                    <li>歴史と伝統</li>
                    <p>
                        ペンチャック・シラットは、古代から続く豊かな歴史と伝統を持っています。これは、実戦技術としてだけでなく、精神的な訓練や文化的な儀式としても重要視されてきました。多くのペンチャック・シラットのスタイルには、伝統的な衣装や器具を使用する伝統があります。
                    </p>
                    <li>身体と心のトレーニング</li>
                    <p>
                        ペンチャック・シラットの練習は、身体と心の両方を鍛えるための効果的な方法です。運動能力や柔軟性、バランス感覚を向上させるだけでなく、集中力や精神的な集中力を高めるのに役立ちます。また、ペンチャック・シラットは自己防衛のスキルを身につけるのにも役立ちます。
                    </p>
                    <li>国際的な普及と認知</li>
                    <p>
                        ペンチャック・シラットは、その魅力的な技術と美しい動きにより、世界中で人気があります。近年、ペンチャック・シラットは国際的なマーシャルアートの競技会やイベントで注目を集め、多くの人々に愛されています。これにより、ペンチャック・シラットの伝統が世界中に広まり、多様な文化の交流と理解が促進されています。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content8">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-2/wayang.jpg" class="jumbo8" />
                </div>
                <div class="thumbs">
                    <img class="thumb8" src="/img/img-2/wayang.jpg" alt="" />
                    <img class="thumb8" src="/img/img-2/thumbs/wayang1.jpg" alt="" />
                    <img class="thumb8" src="/img/img-2/thumbs/wayang2.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>ワヤング (Wayang)</h1>
                <h4>ワヤングについて :</h4>
                <ol>
                    <li>ワヤングとは何ですか？</li>
                    <p>
                        ワヤングは、インドネシアのジャワ島やバリ島などで古くから行われてきた伝統的なパペット劇です。この芸術形式は、木製の人形やマリオネットを使用して物語を演じることで知られています。ワヤングは、音楽や歌、ダンスなどの要素も含まれ、幅広い観客に愛されています。
                    </p>
                    <li>歴史と伝統</li>
                    <p>ワヤングは、古代からインドネシアの文化に根付いており、宗教的な儀式や祭りなどの様々な行事で演じられてきました。これは、神話や伝説、宗教的な物語などを通じて、地域の歴史や価値観を伝えるための重要な手段として機能しています。</p>
                    <li>多様な形態とスタイル</li>
                    <p>
                        ワヤングには、さまざまな形態やスタイルが存在します。ジャワ島では、ワヤング・クリト（シャドウ・パペット）が最も一般的であり、黒い布に彫刻された木製の人形を使って演じられます。一方、バリ島では、ワヤング・グーラ（人形劇）がよく知られており、彩色された木製の人形が用いられます。
                    </p>
                    <li>物語とキャラクター</li>
                    <p>
                        ワヤングの物語には、古代の神話や宗教的な伝説、歴史的な出来事などが含まれています。さまざまなキャラクターが登場し、ヒーローや悪役、神々や英雄などが独自の役割を果たします。これらのキャラクターは、観客に教訓を与えたり、娯楽を提供したりする役割を果たします。
                    </p>
                    <li>文化の保存と国際的な認知</li>
                    <p>
                        ワヤングは、インドネシアの文化的遺産として大切にされています。近年、ワヤングは国際的な舞台でも高く評価され、世界中の観客にその美しさと奥深さを紹介しています。これにより、ワヤングの伝統と芸術が世界中で広まり、国際的な理解と尊重が促進されています。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content9">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-2/gamelan.jpg" class="jumbo9" />
                </div>
                <div class="thumbs">
                    <img class="thumb9" src="/img/img-2/gamelan.jpg" alt="" />
                    <img class="thumb9" src="/img/img-2/thumbs/gamelan1.jpg" alt="" />
                    <img class="thumb9" src="/img/img-2/thumbs/gamelan2.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>ガムラン (Gamelan)</h1>
                <h4>ガムランについて :</h4>
                <ol>
                    <li>ガムランとは何ですか？</li>
                    <p>ガムランは、インドネシアやバリ島などで演奏される伝統的な打楽器アンサンブルです。この音楽は、多彩な金属製の打楽器や木製の管楽器、弦楽器などを組み合わせて演奏され、その独特な音色とリズムが特徴です。</p>
                    <li>多様な楽器と編成</li>
                    <p>
                        ガムランは、さまざまな楽器で構成されています。主な楽器には、ガンバン（金属製の打楽器）、ケンチャ（木製の打楽器）、サロン（木製の弦楽器）、ケットルドラムなどがあります。これらの楽器は、独自の音色と役割を持ち、アンサンブル全体で調和を生み出します。
                    </p>
                    <li>伝統と宗教</li>
                    <p>
                        ガムランは、インドネシアの文化や宗教と密接に結びついています。バリ島では、ガムランの演奏は宗教的な儀式や祭り、舞台芸術などの様々な行事で重要な役割を果たしています。また、ガムランの演奏は、伝統的な音楽やダンスの一部としても広く愛されています。
                    </p>
                    <li>即興性と表現力</li>
                    <p>ガムランの演奏は、即興的な要素が強く、演奏者の創造性と表現力が重要です。音楽は定型的なメロディーやリズムに基づいていますが、演奏者はその枠組みの中で自由にアドリブや変奏を行い、新しい音楽を生み出します。</p>
                    <li>国際的な認知と普及</li>
                    <p>
                        ガムランは、その独特の音楽性と美しさにより、世界中で高く評価されています。近年、ガムランの演奏やワークショップが国際的な舞台で行われ、多くの人々にその魅力を広める機会が増えています。これにより、ガムランの伝統と文化が世界中で認知され、尊重されるようになっています。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content10">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-2/tari_shaman.png" class="jumbo10" />
                </div>
                <div class="thumbs">
                    <img class="thumb10" src="/img/img-2/tari_shaman.png" alt="" />
                    <img class="thumb10" src="/img/img-2/thumbs/tari_shaman1.jpg" alt="" />
                    <img class="thumb10" src="/img/img-2/thumbs/tari_shaman2.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>シャーマンダンス (Tari Shaman)</h1>
                <h4>シャーマンダンスについて :</h4>
                <ol>
                    <li>シャーマン舞踊とは何ですか？</li>
                    <p>シャーマン舞踊は、シャーマニズムの宗教的な伝統に基づいて行われる、宗教的な舞踊形式です。この舞踊は、シャーマンと呼ばれる宗教的指導者が精霊や神々と交信するために行われる儀式や儀礼の一部として演じられます。</p>
                    <li>神秘的な動きと表現</li>
                    <p>シャーマン舞踊は、神秘的な動きや表現が特徴です。舞踊者は、トランス状態に入り、精霊や神々との交流を模倣するような動きをします。これにより、宗教的な体験や霊的な状態が演出されます。</p>
                    <li>宗教的な意味と目的</li>
                    <p>
                        シャーマン舞踊は、宗教的な意味と目的を持っています。これは、神や神霊との交流やコミュニケーションを通じて、宗教的な洞察や啓示を得るために行われます。また、病気や災害の治療、祝祭や儀式の執行など、様々な目的で行われることもあります。
                    </p>
                    <li>伝統と文化の一部</li>
                    <p>
                        シャーマン舞踊は、多くの文化や民族において重要な役割を果たしてきました。特定の地域や民族の伝統や信仰に根ざしており、その地域の文化や価値観を反映しています。この舞踊形式は、世代を超えて伝承され、文化の保存と継承に貢献しています。
                    </p>
                    <li>現代の継承と発展</li>
                    <p>
                        シャーマン舞踊は、現代でも一部の地域やコミュニティで行われています。これは、伝統の継承と発展の両方が重要視されているためです。一部の舞踊団や文化団体は、伝統的なシャーマン舞踊を保存し、新しい世代に伝える取り組みを行っています。
                    </p>
                </ol>
            </div>
        </div>
    </section>
    <!-- Main Content Section End -->
    <!-- Footer Start -->
    <footer>
        <div class="main">
            <div class="left">
                <div class="left-img"><span>Wonderful </span>Indonesia</div>
                <div class="socials">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-youtube"></i></a>
                    <a href=""><i class="bi bi-tiktok"></i></a>
                </div>
            </div>
            <div class="right">
                <div class="message">メールを送信ん</div>
                <div class="input">
                    <input type="text" placeholder="メッセージ" />
                </div>
                <i class="bi bi-send"></i>
                <div class="policy">
                    <a href="">クッキーポリシー | </a>
                    <a href="">プライバシーポリシー | </a>
                    <a href="">利用規約 | </a>
                    <a href="">お問い合わせ</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copy">Copyright © 2024 Created & Desained by Dicky Laksono.</div>
        </div>
    </footer>
    <!-- Footer Start -->
    <!-- Script -->
    <script src="/js/script.js"></script>
</body>
</html>

