<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Whisper&display=swap" rel="stylesheet" />

    <!--  Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />

    <title>Trip</title>
</head>
<body style="background-image: url('ripples.png')">
    <!-- Navbar Start -->
    <nav class="navbar">
        <div class="navbar-logo">Wonderful <span>Indonesia</span></div>
        <div class="navbar-nav"><a asp-area="" asp-controller="Home" asp-action="Index">ホーム</a><a asp-area="" asp-controller="Home" asp-action="Trip">観光地</a><a asp-area="" asp-controller="Home" asp-action="Culture">文化</a><a asp-area="" asp-controller="Home" asp-action="Common">インドネシアについて</a><a href="">ヘルプ</a></div>
        <!-- <div class="day-night"></div> -->
        <div class="nav-search">
            <i class="bi bi-search"></i>
            <i class="bi bi-brightness-high"></i>
            <i class="bi bi-moon-stars-fill"></i>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Carousel Start -->
    <div class="carousel-container" style="background-image: url('/img/img-1/thumbs/banner.jpeg')"></div>
    <!-- Carousel End -->
    <!-- Navigation -->
    <div class="navigation">
        <a href="#content1">1</a>
        <a href="#content2">2</a>
        <a href="#content3">3</a>
        <a href="#content4">4</a>
        <a href="#content5">5</a>
        <a href="#content6">6</a>
        <a href="#content7">7</a>
        <a href="#content8">8</a>
        <a href="#content9">9</a>
        <a href="#content10">10</a>
    </div>

    <!-- Main Content Section Start -->
    <section class="main-container-2">
        <div class="card-container-1" id="content1">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-1/raja_ampat.jpg" class="jumbo1" />
                </div>
                <div class="thumbs">
                    <img class="thumb1" src="/img/img-1/raja_ampat.jpg" alt="" />
                    <img class="thumb1" src="/img/img-1/thumbs/raja_ampat1.jpg" alt="" />
                    <img class="thumb1" src="/img/img-1/thumbs/raja_ampat2.jpg" alt="" />
                    <img class="thumb1" src="/img/img-1/thumbs/raja_ampat3.jpg" alt="" />
                    <img class="thumb1" src="/img/img-1/thumbs/raja_ampat4.jpg" alt="" />
                    <img class="thumb1" src="/img/img-1/thumbs/raja_ampat5.jpg" alt="" />
                    <img class="thumb1" src="/img/img-1/thumbs/raja_ampat6.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>ラジャアンパット (Raja Ampat)</h1>
                <h4>ラジャアンパットの魅力 :</h4>
                <ol>
                    <li>美しい海洋生物の多様性</li>
                    <p>
                        コーラルリーフの豊かさ:ラジャアンパットは、世界でも最も美しいコーラルリーフの1つが広がる場所です。多彩なサンゴや魚が生息し、スノーケリングやダイビングを楽しむ人々に魅了されます。
                        マンタレイやナポレオンフィッシュ：この地域には、マンタレイやナポレオンフィッシュなど、希少で美しい海洋生物が豊富に生息しています。
                    </p>
                    <li>壮大な島々と自然景観</li>
                    <p>
                        カルスト地形と青い海：ラジャアンパットは、カルスト地形が特徴の数々の美しい島々で構成されています。青い海と緑の植物が織り成す壮大な自然景観は、訪れる人々を圧倒します。
                        シーンプナルビーチとワヤギルビーチ：シーンプナルビーチやワヤギルビーチなど、ラジャアンパットには美しいビーチが点在しています。透明度の高い海水と白い砂浜が楽しめます。
                    </p>
                    <li>アウトドアアクティビティと冒険</li>
                    <p>
                        ダイビングとスノーケリング：ラジャアンパットは、ダイビングやスノーケリングの天国として知られています。カラフルな珊瑚礁や海洋生物を観察しながら、驚きと興奮に満ちたアクティビティが楽しめます。
                        カヤックやトレッキング：島々の間をカヤックで漕ぎながら、美しい景色や隠れたビーチを探索する冒険も人気です。また、トレッキングやジャングルツアーも楽しむことができます。
                    </p>
                    <li>文化と伝統:</li>
                    <p>
                        ローカルコミュニティの訪問：ラジャアンパットでは、地元のコミュニティを訪れて彼らの文化や生活様式に触れることができます。伝統的なダンスや工芸品の製作を見学する貴重な体験です。
                        地元料理の味わい：地元の料理や食材を楽しむことも、ラジャアンパットの文化体験の一部です。新鮮なシーフードや伝統的な料理を味わいながら、地元の人々と交流しましょう。
                    </p>
                    <li>重要な環境保全</li>
                    <p>
                        ラジャ アンパットは、世界最大の海洋保護区の 1 つとして知られています。
                        その並外れた生物多様性と自然の美しさは政府やさまざまな保護団体によって保護されており、環境保全や脆弱な生態系の保護について学ぶのに理想的な場所となっています。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content2">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-1/labuan_bajo.jpg" class="jumbo2" />
                </div>
                <div class="thumbs">
                    <img class="thumb2" src="/img/img-1/labuan_bajo.jpg" alt="" />
                    <img class="thumb2" src="/img/img-1/thumbs/labuan_bajo1.jpg" alt="" />
                    <img class="thumb2" src="/img/img-1/thumbs/labuan_bajo2.jpg" alt="" />
                    <img class="thumb2" src="/img/img-1/thumbs/labuan_bajo3.jpg" alt="" />
                    <img class="thumb2" src="/img/img-1/thumbs/labuan_bajo4.jpg" alt="" />
                    <img class="thumb2" src="/img/img-1/thumbs/labuan_bajo5.jpg" alt="" />
                    <img class="thumb2" src="/img/img-1/thumbs/labuan_bajo6.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>ラブハンバジョ (Labuan Bajo)</h1>
                <h4>ラブアンバジョの魅力 :</h4>
                <ol>
                    <li>きれいな海</li>
                    <p>
                        ラブハンバジョは海の状態もきれいです。 ラブハンバジョの海の美しさは、他の場所ではほとんど見られません。 色はクリスタルブルーなので、観光客を魅了します。
                        それとは別に、ラブハンバジョではシュノーケリングやダイビングなどのアクティビティも楽しめます。
                    </p>
                    <li>マングローブと熱帯林</li>
                    <p>
                        ラブハンバジョでは、マングローブや熱帯林といった自然の美しさも楽しめます。 ラブハンバジョには持続可能なマングローブ生態系もあります。 ここでできるのは、マングローブ林の真ん中をボートで巡ること。
                        一方、この地域周辺の熱帯林は、さまざまな興味深い動植物の生息地となっています。
                    </p>
                    <li>伝統的な部族と地元の知恵</li>
                    <p>
                        ラブアンのバジョ族コミュニティは、マンガライ族やバジョ族など、さまざまな伝統的な部族で構成されています。 彼らは天然資源を持続的に利用する地元の知恵を持っています。
                        ラブハンバジョのユニークな伝統や文化活動を直接目撃して、経験をさらに深めることができます。
                    </p>
                    <li>典型的なラブアンバジョ料理</li>
                    <p>
                        ラブハンバジョには、目を楽しませてくれる観光スポットが数多くあるだけではありません。 千の夕日の街を訪れる際には見逃せない、典型的なラブアン バジョ料理もあります。
                        典型的なラブアンバジョの食べ物も簡単に手に入れることができます。 典型的な食べ物を販売する屋台から、味覚を誘惑するメニューを提供する高級レストランまで。
                        ラブアンバジョはビーチにある都市なので、食べ物のほとんどがシーフードであるのも不思議ではありません。 ただし、シーフードが苦手な方でもご安心ください。ラブアン バジョでは野菜を使った他の特別料理も提供しています。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content3">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-1/belitung.jpg" class="jumbo3" />
                </div>
                <div class="thumbs">
                    <img class="thumb3" src="/img/img-1/belitung.jpg" alt="" />
                    <img class="thumb3" src="/img/img-1/thumbs/belitung.jpg" alt="" />
                    <img class="thumb3" src="/img/img-1/thumbs/belitung1.jpg" alt="" />
                    <img class="thumb3" src="/img/img-1/thumbs/belitung3.jpg" alt="" />
                    <img class="thumb3" src="/img/img-1/thumbs/belitung4.jpg" alt="" />
                    <img class="thumb3" src="/img/img-1/thumbs/belitung5.jpg" alt="" />
                    <img class="thumb3" src="/img/img-1/thumbs/belitung6.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>バンカブリトゥン (Bangka Belitung)</h1>
                <h4>バンカブリトゥンの魅力 :</h4>
                <ol>
                    <li>美しいビーチと透明な海</li>
                    <p>
                        パンカル・ピナン島：バンカ・ベリトンは、パンカル・ピナン島と呼ばれる美しいビーチが広がる地域で知られています。白い砂浜と透明な海は、リゾート地として人気があります。
                        トレンド・ハンドプール：トレンド・ハンドプールは、ベリトン島に位置する美しいビーチリゾートです。青い海と緑の森が調和した風光明媚な景色が楽しめます。
                    </p>
                    <li>豊かな文化と歴史</li>
                    <p>
                        古代の遺跡と歴史的建造物：バンカ・ベリトンには、古代の遺跡や歴史的建造物が点在しています。これらの遺産は、古代の文化と歴史を伝える貴重な資産です。
                        中国寺院とマレー建築：この地域には、中国寺院やマレー建築の建造物も見られます。これらの建物は、異文化の影響を受けた建築様式を示しています。
                    </p>
                    <li>美味しい料理と食文化</li>
                    <p>
                        シーフードとローカル料理：バンカ・ベリトンでは、新鮮なシーフードやローカル料理を楽しむことができます。特に有名なのは、海の幸を使った料理や伝統的なインドネシア料理です。
                        屋台と市場：屋台や市場では、地元の料理や軽食を手軽に楽しむことができます。新鮮な食材を使った料理が豊富にそろっています。
                    </p>
                    <li>自然の美しさとアウトドアアクティビティ</li>
                    <p>
                        島の探索とトレッキング：バンカ・ベリトンでは、美しい自然を探索するためのトレッキングやハイキングが人気です。豊かな自然景観が広がる中を歩きながら、リフレッシュしましょう。
                        マングローブ林とエコツアー：この地域には、美しいマングローブ林が広がっています。エコツアーに参加して、生態系の多様性を観察し、自然に触れる体験を楽しみましょう。
                    </p>
                    <li>地元の文化体験とショッピング</li>
                    <p>
                        伝統的な工芸品とお土産：バンカ・ベリトンの市場や工芸品店では、地元の工芸品やお土産を購入することができます。手作りのアクセサリーや織物など、個性的な商品が揃っています。
                        ローカルフェスティバルと催し：地元のフェスティバルや催しも、文化体験の一環として楽しむことができます。伝統的な舞踊や音楽を鑑賞しながら、地元の文化に触れてみましょう。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content4">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-1/borobudur.jpg" class="jumbo4" />
                </div>
                <div class="thumbs">
                    <img class="thumb4" src="/img/img-1/borobudur.jpg" alt="" />
                    <img class="thumb4" src="/img/img-1/thumbs/borobudur1.jpg" alt="" />
                    <img class="thumb4" src="/img/img-1/thumbs/borobudur2.jpg" alt="" />
                    <img class="thumb4" src="/img/img-1/thumbs/borobudur3.jpg" alt="" />
                    <img class="thumb4" src="/img/img-1/thumbs/borobudur4.jpg" alt="" />
                    <img class="thumb4" src="/img/img-1/thumbs/borobudur5.jpg" alt="" />
                    <img class="thumb4" src="/img/img-1/thumbs/borobudur6.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>ボロブドゥール (Borobudur)</h1>
                <h4>ボロブドゥールの魅力 :</h4>
                <ol>
                    <li>世界遺産の壮大な寺院</li>
                    <p>
                        仏教の聖地:ボロブドゥールは、世界で最も偉大な仏教の遺跡の1つです。8世紀に建造されたこの巨大な寺院は、仏教の聖地として知られています。
                        ストーパと仏塔：ボロブドゥールには、数多くのストーパ（仏塔）があり、それぞれに彫刻された仏教の教えが描かれています。これらの彫刻は、仏教の教えや物語を伝える貴重な文化的財産です。
                    </p>
                    <li>壮大なアーキテクチャとデザイン</li>
                    <p>
                        ピラミッド形の構造：ボロブドゥールの構造は、巨大なピラミッドのような形をしています。階段を登ると、仏教の教えを表す彫刻やレリーフが見られます。
                        石彫刻とレリーフ：ボロブドゥールの壁には、細かい石彫刻やレリーフが施されています。これらの彫刻は、仏教の教えや歴史的な出来事を描いています。
                    </p>
                    <li>歴史と文化の宝庫</li>
                    <p>
                        ジャワ島の遺産:ボロブドゥールは、ジャワ島の重要な文化遺産の1つです。寺院の建設は、古代ジャワ王国の栄光の一部を示しています。
                        ヒンドゥー教と仏教の影響：ボロブドゥールには、ヒンドゥー教と仏教の影響が見られます。寺院の建設とデザインは、両宗教の文化的な交流を反映しています。
                    </p>
                    <li>パワフルなスピリチュアル体験</li>
                    <p>
                        瞑想と参拝：ボロブドゥールは、瞑想や参拝の場所として人気があります。静かな雰囲気と壮大な景観は、心と魂に平安をもたらします。
                        日の出と日没の眺め：ボロブドゥールからの日の出と日没の眺めは、神聖な体験として知られています。太陽が昇ると、寺院の彫刻やレリーフが美しい光で照らされます。
                    </p>
                    <li>観光名所としての魅力</li>
                    <p>
                        観光客のための施設：ボロブドゥールには、観光客向けの施設が整備されています。ガイド付きツアーや展示室など、寺院を訪れる観光客に快適な体験を提供します。
                        周辺の自然と景色：ボロブドゥール周辺には、美しい自然や緑豊かな風景が広がっています。訪れる人々は、寺院だけでなく周辺の景色も楽しむことができます。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content5">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-1/gunung_bromo.jpg" class="jumbo5" />
                </div>
                <div class="thumbs">
                    <img class="thumb5" src="/img/img-1/gunung_bromo.jpg" alt="" />
                    <img class="thumb5" src="/img/img-1/thumbs/gunung_bromo1.jpg" alt="" />
                    <img class="thumb5" src="/img/img-1/thumbs/gunung_bromo2.jpg" alt="" />
                    <img class="thumb5" src="/img/img-1/thumbs/gunung_bromo3.jpg" alt="" />
                    <img class="thumb5" src="/img/img-1/thumbs/gunung_bromo4.jpg" alt="" />
                    <img class="thumb5" src="/img/img-1/thumbs/gunung_bromo5.jpg" alt="" />
                    <img class="thumb5" src="/img/img-1/thumbs/gunung_bromo6.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>ブロモ山 (Gunung Bromo)</h1>
                <h4>ブロモ山の魅力 :</h4>
                <ol>
                    <li>アイコニックな火山景観</li>
                    <p>
                        ブロモ火山とその周辺:ブロモ山は、インドネシアの最も有名な火山の1つです。その美しい火口や周囲の広大な砂漠は、圧巻の景色を提供します。
                        トレッキングとジープサファリ：ブロモ山へのトレッキングやジープサファリツアーは、訪れる人々に冒険と興奮をもたらします。火山の頂上からの眺めは息をのむほど美しく、独特の魅力を持っています。
                    </p>
                    <li>壮大な日の出の景色</li>
                    <p>ペナンジャカンの展望台：ブロモ山周辺には、有名なペナンジャカン展望台があります。ここからの日の出の眺めは、神秘的で感動的なものです。美しい夜明けの色合いを見るために、多くの観光客が訪れます。</p>
                    <li>ユニークな文化と伝統</li>
                    <p>
                        テンガー族の文化：ブロモ山周辺に住むテンガー族は、独自の文化や伝統を持っています。彼らの信仰と生活様式は、この地域の独特の雰囲気を作り上げています。
                        カサダ祭り:テンガー族の重要な祭りの1つであるカサダ祭りは、ブロモ山で毎年開催されます。この祭りでは、火山に祈りを捧げる伝統的な儀式が行われます。
                    </p>
                    <li>美しい自然景観</li>
                    <p>
                        ブロモトゥンプル国立公園：ブロモ山は、ブロモトゥンプル国立公園内にあります。この公園には、美しい草原、山々、そして独特の砂漠地帯が広がっています。自然愛好家にとって、この地域は探検する価値があります。
                        マダカリプラ滝：ブロモ山周辺には、美しい滝があります。マダカリプラ滝の清らかな水と周囲の自然景観は、訪れる人々を魅了します。
                    </p>
                    <li>アウトドアアクティビティの多様性</li>
                    <p>
                        トレッキングと登山：ブロモ山周辺には、さまざまなトレッキングコースがあります。登山家やトレッキング愛好家にとって、この地域は冒険の場所として知られています。
                        馬によるアクティビティ：馬に乗ってブロモ山を探索することもできます。馬に乗って広大な砂漠地帯を駆け抜ける体験は、忘れられない思い出となるでしょう。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content6">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-1/lombok.jpg" class="jumbo6" />
                </div>
                <div class="thumbs">
                    <img class="thumb6" src="/img/img-1/lombok.jpg" alt="" />
                    <img class="thumb6" src="/img/img-1/thumbs/lombok1.jpg" alt="" />
                    <img class="thumb6" src="/img/img-1/thumbs/lombok2.jpg" alt="" />
                    <img class="thumb6" src="/img/img-1/thumbs/lombok3.jpg" alt="" />
                    <img class="thumb6" src="/img/img-1/thumbs/lombok4.jpg" alt="" />
                    <img class="thumb6" src="/img/img-1/thumbs/lombok5.jpg" alt="" />
                    <img class="thumb6" src="/img/img-1/thumbs/lombok6.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>ロンボク島 (Lombok)</h1>
                <h4>ロンボク島の魅力 :</h4>
                <ol>
                    <li>美しいビーチとリゾート</li>
                    <p>
                        クタビーチ：クタビーチは、白い砂浜と青い海が広がる美しいビーチです。サーフィンや日光浴を楽しむことができます。
                        シュノーケリングとダイビング：ランブランの周辺には、美しいサンゴ礁や多彩な海洋生物が点在しています。シュノーケリングやダイビングを楽しんで、色鮮やかな海の世界を探索しましょう。
                    </p>
                    <li>文化と伝統</li>
                    <p>
                        サスアク村:サスアク村は、ランブランの伝統的な村落の1つです。ここでは、地元の文化や生活様式を体験することができます。伝統的な手工芸品や料理も楽しむことができます。
                        ヒンドゥー寺院と祭り：ランブランには、美しいヒンドゥー寺院が点在しています。寺院では、地元の祭りや儀式が行われ、バリニーズダンスや音楽のパフォーマンスが楽しめます。
                    </p>
                    <li>アウトドアアクティビティ</li>
                    <p>
                        トレッキングとサファリ：ランブランの内陸部には、美しい自然と景色が広がっています。トレッキングやサファリツアーに参加して、壮大な景色や野生動物を観察しましょう。
                        ウォータースポーツ：ランブランのビーチでは、ウィンドサーフィンやカヤックなどのウォータースポーツを楽しむことができます。地元のインストラクターと一緒に、新しいスポーツに挑戦してみましょう。
                    </p>
                    <li>美味しい料理</li>
                    <p>
                        ローカルフードマーケット：ランブランには、地元のフードマーケットや屋台があります。新鮮なシーフードや地元の料理を試してみましょう。現地の味を堪能できます。
                        ビーチレストランとカフェ：ビーチ沿いには、様々なレストランやカフェがあります。地元の食材を使用した料理や、国際的な料理を楽しむことができます。
                    </p>
                    <li>リラックスと癒し</li>
                    <p>
                        スパとマッサージ：ランブランには、リラックスできるスパやマッサージサロンがたくさんあります。伝統的なバリニーズマッサージやアロマセラピーを楽しんで、心身をリフレッシュしましょう。
                        ビーチでのリラックス：ビーチで日光浴をしたり、海を眺めながらリラックスするのも良い方法です。日常のストレスを忘れて、美しい景色を楽しみましょう。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content7">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-1/pulau_komodo.jpg" class="jumbo7" />
                </div>
                <div class="thumbs">
                    <img class="thumb7" src="/img/img-1/pulau_komodo.jpg" alt="" />
                    <img class="thumb7" src="/img/img-1/thumbs/pulau_komodo1.jpg" alt="" />
                    <img class="thumb7" src="/img/img-1/thumbs/pulau_komodo2.jpg" alt="" />
                    <img class="thumb7" src="/img/img-1/thumbs/pulau_komodo3.jpg" alt="" />
                    <img class="thumb7" src="/img/img-1/thumbs/pulau_komodo4.jpg" alt="" />
                    <img class="thumb7" src="/img/img-1/thumbs/pulau_komodo5.jpg" alt="" />
                    <img class="thumb7" src="/img/img-1/thumbs/pulau_komodo6.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>コモド島 (Pulau Komodo)</h1>
                <h4>コモド島の魅力 :</h4>
                <ol>
                    <li>ユニークなドラゴンの生息地</li>
                    <p>
                        コモドドラゴン：プルアウコモドは、世界で唯一のコモドドラゴンの生息地です。これらの巨大なトカゲは、島の草原や森林に生息し、その迫力ある姿は圧巻です。
                        ツアーとガイド：コモドドラゴンを見るためのツアーやガイドが用意されており、安全にドラゴンの生息地を探索できます。
                    </p>
                    <li>美しい海洋生物の豊かな生息地</li>
                    <p>スノーケリングとダイビング：プルアウコモドの周辺には、美しいサンゴ礁や多様な海洋生物が豊富に存在します。スノーケリングやダイビングを楽しむことで、カラフルな魚やウミガメなどを見ることができます。</p>
                    <li>壮大な自然景観</li>
                    <p>
                        ピンクビーチ：プルアウコモド近くにあるピンク色の砂浜は、その美しさで知られています。日の出や日没時には、その色合いがさらに鮮やかになります。
                        リンジャニ火山：プルアウコモドの南にあるリンジャニ火山は、壮大な景色と冒険が待っています。火口湖や草原、森林など、多様な自然が楽しめます。
                    </p>
                    <li>文化的な体験</li>
                    <p>ローカルの村と生活：プルアウコモド周辺の村々では、ローカルの文化や生活を体験することができます。伝統的な村の暮らしや文化に触れることで、異なる視点からの旅を楽しむことができます。</p>
                    <li>アウトドアアクティビティの多様性</li>
                    <p>
                        トレッキングとハイキング：島の内陸部には、ハイキングやトレッキングのための数多くのルートがあります。自然の中を歩くことで、プルアウコモドの美しい景色を満喫できます。
                        ビーチでのアクティビティ：ビーチでは、シュノーケリングやビーチバレーなどのアクティビティを楽しむことができます。また、リラックスして日光浴をしたり、美しい景色を眺めることもできます。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content8">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-1/bali.jpg" class="jumbo8" />
                </div>
                <div class="thumbs">
                    <img class="thumb8" src="/img/img-1/bali.jpg" alt="" />
                    <img class="thumb8" src="/img/img-1/thumbs/bali1.jpg" alt="" />
                    <img class="thumb8" src="/img/img-1/thumbs/bali2.jpg" alt="" />
                    <img class="thumb8" src="/img/img-1/thumbs/bali3.jpg" alt="" />
                    <img class="thumb8" src="/img/img-1/thumbs/bali4.jpg" alt="" />
                    <img class="thumb8" src="/img/img-1/thumbs/bali5.jpg" alt="" />
                    <img class="thumb8" src="/img/img-1/thumbs/bali6.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>バリ島 (bali)</h1>
                <h4>バリ島の魅力 :</h4>
                <ol>
                    <li>美しいビーチとリゾート</li>
                    <p>
                        クタビーチ:バリ島で最も有名なビーチの1つで、白い砂浜とクリアな水で知られています。サーフィンや日光浴を楽しむことができます。
                        ウブド：美しいライステラスと伝統的なバリの文化が魅力のウブドは、リラックスした雰囲気とアートやヨガのコミュニティで有名です。
                    </p>
                    <li>文化と芸術</li>
                    <p>ウルワツ寺院：海に面した岩の上に建てられた美しい寺院で、バリの宗教的な儀式やダンスパフォーマンスが行われます。 バリのダンスと音楽：伝統的なバリの舞踊やガムラン音楽は、その美しさと独特のリズムで世界中で愛されています。</p>
                    <li>美しい自然とアウトドアアクティビティ</li>
                    <p>
                        バリの田園地帯：バリ島の内陸部には、美しいライステラスや青々とした森林が広がっています。自然の中でトレッキングやサイクリングを楽しむことができます。
                        マウントバトゥール：活火山であり、サンライズトレッキングが有名です。山頂からの眺めは息をのむほど美しいです。
                    </p>
                    <li>美味しい料理</li>
                    <p>
                        バリ料理：バリの料理はスパイスを使った独特の味と香りが特徴です。バリの伝統的な料理を楽しむことができる数多くのレストランがあります。
                        ウォーウォール・ストリート：デンパサールの中心部にあるウォーウォール・ストリートは、地元の料理やスナックが並ぶ活気のある食品市場です。
                    </p>
                    <li>贅沢なスパとリラックス</li>
                    <p>バリのスパ:バリは世界的に有名なスパの目的地の1つで、リラックスやリフレッシュに最適な施設が数多くあります。 ビーチクラブ：ビーチクラブは、ビーチフロントでの贅沢なリラックスやカクテルを楽しむのに最適な場所です。</p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content9">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-1/kawah_ijen.jpg" class="jumbo9" />
                </div>
                <div class="thumbs">
                    <img class="thumb9" src="/img/img-1/kawah_ijen.jpg" alt="" />
                    <img class="thumb9" src="/img/img-1/thumbs/kawah_ijen1.jpg" alt="" />
                    <img class="thumb9" src="/img/img-1/thumbs/kawah_ijen2.jpg" alt="" />
                    <img class="thumb9" src="/img/img-1/thumbs/kawah_ijen3.jpg" alt="" />
                    <img class="thumb9" src="/img/img-1/thumbs/kawah_ijen4.jpg" alt="" />
                    <img class="thumb9" src="/img/img-1/thumbs/kawah_ijen5.jpg" alt="" />
                    <img class="thumb9" src="/img/img-1/thumbs/kawah_ijen6.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>イジェン・クレーター (Kawah Ijen)</h1>
                <h4>イジェン・クレーターの魅力 :</h4>
                <ol>
                    <li>青い火口湖</li>
                    <p>
                        硫黄鉱山：イジェン火山は、世界で最も大きな硫黄鉱山の一つです。硫黄鉱山で働く労働者たちの姿や、硫黄の採掘過程を見ることができます。
                        青い火口湖：イジェン火山の火口湖は鮮やかな青色をしており、その美しさは特に日の出時に際立ちます。
                    </p>
                    <li>トレッキングと冒険</li>
                    <p>
                        イジェン火山登山：イジェン火山へのトレッキングは、アクティブなアウトドア愛好家にとって人気のアクティビティです。夜明け前に出発し、日の出と火口湖の景色を楽しむことができます。
                        火口湖周辺の探検：火口湖周辺には、鮮やかな色の岩や美しい風景が広がっています。トレッキングの途中で立ち寄り、周囲の自然を楽しむことができます。
                    </p>
                    <li>ユニークな地形と風景</li>
                    <p>硫黄の結晶：硫黄鉱山周辺には、硫黄の結晶が見られることがあります。これらの結晶は、独特の形状と美しい色合いを持っています。 岩石の形状：火口湖周辺の岩石の形状は、風と水の作用によって形成された独特の景観を提供しています。</p>
                    <li>地元の文化と生活</li>
                    <p>
                        イジェン地域の村落：イジェン火山周辺には、地元の村落が点在しています。ここでは、地元の人々の生活や文化を体験することができます。
                        地元料理と工芸品：村落で地元の料理や工芸品を味わうことができます。地元の料理は新鮮で風味豊かであり、伝統的な工芸品はその美しさと職人技を堪能できます。
                    </p>
                    <li>自然と環境保護</li>
                    <p>
                        生態系の多様性：イジェン火山周辺には、豊かな生態系が広がっています。様々な植物や動物が生息し、自然の美しさを楽しむことができます。
                        持続可能な観光：イジェン地域では、持続可能な観光が推進されています。地元の環境や文化を尊重しながら、観光業を発展させる取り組みが行われています。
                    </p>
                </ol>
            </div>
        </div>
        <div class="card-container-1" id="content10">
            <div class="layer">
                <div class="jumbo-container">
                    <img src="/img/img-1/danau_toba.jpg" class="jumbo10" />
                </div>
                <div class="thumbs">
                    <img class="thumb10" src="/img/img-1/danau_toba.jpg" alt="" />
                    <img class="thumb10" src="/img/img-1/thumbs/danau_toba.jpg" alt="" />
                    <img class="thumb10" src="/img/img-1/thumbs/danau_toba2.jpg" alt="" />
                    <img class="thumb10" src="/img/img-1/thumbs/danau_toba3.jpg" alt="" />
                    <img class="thumb10" src="/img/img-1/thumbs/danau_toba4.jpg" alt="" />
                    <img class="thumb10" src="/img/img-1/thumbs/danau_toba5.jpg" alt="" />
                    <img class="thumb10" src="/img/img-1/thumbs/danau_toba6.jpg" alt="" />
                </div>
            </div>
            <div class="card-body">
                <h1>トバ湖 (Danau Toba)</h1>
                <h4>トバ湖の魅力 :</h4>
                <ol>
                    <li>壮大な火山湖の風景</li>
                    <p>
                        巨大なカルデラ：トバ湖は、インドネシアのスマトラ島に位置する世界最大の火山湖です。その起源は巨大なカルデラ噴火によるもので、その壮大な風景は訪れる人々を圧倒します。
                        湖岸の風景：トバ湖周辺の風景は息をのむほど美しく、青々とした山々や美しい滝が見どころです。
                    </p>
                    <li>文化と歴史</li>
                    <p>
                        バタック族の文化：トバ湖周辺に住むバタック族は、独自の文化や伝統を持っています。彼らの伝統的な家屋や織物は、その美しさと職人技で知られています。
                        サマトラの遺跡：トバ湖周辺には、古代の遺跡や歴史的な遺産が点在しています。これらの遺跡は、昔の文化や歴史に触れる貴重な機会を提供しています。
                    </p>
                    <li>アウトドアアクティビティ</li>
                    <p>
                        湖での水泳とボート：トバ湖での水泳やボート乗りは、地元の文化や美しい景色を楽しむための最適な方法です。湖の清澄な水と穏やかな風景は、リラックスした時間を過ごすのに最適です。
                        トレッキングとハイキング：湖周辺の山々や丘は、トレッキングやハイキングのための素晴らしい場所です。自然の中での冒険は、新しい発見と素晴らしい景色を提供してくれます。
                    </p>
                    <li>地元の料理と食文化</li>
                    <p>
                        バタック料理：地元のバタック料理は、新鮮で風味豊かな食材を使った独特の味が特徴です。伝統的な料理や現地のシーフードを楽しむことができます。
                        ローカルマーケットとストリートフード：トバ湖周辺のローカルマーケットやストリートフードは、地元の食文化を体験するための絶好の機会です。新鮮な食材や地元のおやつを楽しむことができます。
                    </p>
                    <li>リラックスと癒し</li>
                    <p>
                        温泉とスパ：トバ湖周辺には、温泉とスパが点在しています。天然の温泉でリラックスしたり、伝統的なマッサージを受けたりすることで、心身をリフレッシュすることができます。
                        湖畔のリゾートとアクティビティ：湖畔には、リラックスしたり、スポーツを楽しんだりするためのリゾートや施設が豊富にあります。ナイトライフやエンターテイメントも充実しています。
                    </p>
                </ol>
            </div>
        </div>
    </section>
    <!-- Main Content Section End -->
    <!-- Footer Start -->
    <footer>
        <div class="main">
            <div class="left">
                <div class="left-img"><span>Wonderful </span>Indonesia</div>
                <div class="socials">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-youtube"></i></a>
                    <a href=""><i class="bi bi-tiktok"></i></a>
                </div>
            </div>
            <div class="right">
                <div class="message">メールを送信ん</div>
                <div class="input">
                    <input type="text" placeholder="メッセージ" />
                </div>
                <i class="bi bi-send"></i>
                <div class="policy">
                    <a href="">クッキーポリシー | </a>
                    <a href="">プライバシーポリシー | </a>
                    <a href="">利用規約 | </a>
                    <a href="">お問い合わせ</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copy">Copyright © 2024 Created & Desained by Dicky Laksono.</div>
        </div>
    </footer>
    <!-- Footer Start -->
    <!-- Script -->
    <script src="/js/script.js"></script>
</body>
</html>

