<form action="/Home/Send" method="post">
    <input type="checkbox" name="food" value="パン" /><label>パン</label><br/>
    <input type="checkbox" name="food" value="ライス" /><label>ライス</label><br />
    <input type="checkbox" name="food" value="うどん" /><label>うどん</label><br />
    <button type="submit">送信</button>
</form>