<form action="/Home/Send" method="post">
    <label>名前 : </label><input type="text" name="Name"/>
    <label>年齢 : </label><input type="number" name="Age"/>
    <label>住所 : </label><input type="text" name="Address" />
    <label>質問内容 : </label><input type="text" name="Question" />
    <button type="submit">送信</button>

</form>