<form action="/Home/Create" method="post">
    <button type="submit">送信</button>
</form>
<form action="/Home/Edit" method="get">
    <button type="submit">編集</button>    
</form>
<form action="/Home/IsDelete" method="get">
    <button type="submit">削除</button>
</form>

@TempData["message"]
